/* Password Checker Styles
----------------------------------------------- */


/* Tables
----------------------------------------------- */
	.pwdChkTbl1 {border:0; margin:0 0 0 15px; padding:0; width:100%;}
	.pwdChkTbl1 span {font-size:70%;}

	.pwdChkTbl2 {font-family:Tahoma,sans-serif; font-weight:bold; width:210px; border:0; height:19px; background-color:#FFF;}
	.pwdChkTbl2 span {font-size:70%;}

	.pwdChkTbl3 {font-family:Tahoma,sans-serif; font-weight:bold; width:70px; border:0; height:19px; background-color:#FFF; margin:3px 15px 15px 0;}
	.pwdChkTbl3 span {font-size:70%;}

	.pwdChkTbl4 {font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; border:0; background-color:#FFF; margin:0px 20px 0 20px;}

	.pwdChkTd1 {font-size:70%; color:#000; font-weight:bold; vertical-align:top; text-align:right; width:180px; padding:5px 7px 13px 0;}

	.pwdChkTd2 {width:420px; vertical-align:top; padding:0 0 13px 0;}

	.pwdChkTd3 {width:420px; vertical-align:top; padding:0 0 13px 0;}

	.pwdChkTd4 {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:70%; vertical-align:top; padding-bottom:15px;}
	.pwdChkTd4 h3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 130%; font-weight: bold; margin: 8px 0px 0px 0px; padding-bottom: 8px;}

	.pwdChkTd5 {width:98px; vertical-align:top;}


/* JavaSCript Conditions
----------------------------------------------- */
	.pwdChkCon0 {background-color:#EBEBEB; border-right:solid 1px #BEBEBE; border-bottom:solid 1px #BEBEBE; text-align:center;}
	.pwdChkCon1 {background-color:#FF4545; border-right:solid 1px #BB2B2B; border-bottom:solid 1px #BB2B2B; text-align:center;}
	.pwdChkCon2 {background-color:#FFD35E; border-right:solid 1px #E9AE10; border-bottom:solid 1px #E9AE10; text-align:center;}
	.pwdChkCon3 {background-color:#3ABB1C; border-right:solid 1px #267A12; border-bottom:solid 1px #267A12; text-align:center;}
	.pwdChkCon4 {background-color:#3ABB1C; border-right:solid 1px #267A12; border-bottom:solid 1px #267A12; text-align:center;}


/* Miscellaneous
----------------------------------------------- */

	hr.divider {border: 0; width: 95%; height: 2px; color: #B8B8B8; background: #B8B8B8; margin:15px 0 0 20px;}
