@charset "UTF-8";
/* Rules CSS Document */

.r_fs h1{
  font-weight: bold;
  font-size: 8vmin;
  line-height: .8;
  letter-spacing: .03em;
  text-transform: uppercase;
  text-align: center;
}

.r_wrapper body{
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2b2b2b;
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased;
  background: #2b2b2b;
  font-weight: bold;
}

.r_wrapper{
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.r_table{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  @media screen and (max-width: 580px);
  display: block;
} 

.r_row{
  display: block;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.r_header{
  font-weight: 900;
  color: #ffffff;
  background: #2980b9;
  text-align: center;
  @media screen and (max-width: 580px);
  padding: 8px 0;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.r_cell{
  padding: 6px 12px;
  display: table-cell;
  @media screen and (max-width: 580px);
  padding: 2px 12px;
  display: block;
}

.r_fs{
  height: 100%;
  width: 100%;
  margin-bottom: 0vh;
  border-bottom: 1px solid #999;
}

.r_highlight{
  color: #27A4DD;
}



