/* ######### Start Main Tracker Body ######### */
body {
    background: url(images/theme/backdrop.jpg) repeat fixed 0 0 rgba(0, 0, 0, 0);
    font: 78%/130% "Verdana","Arial","Helvetica",sans-serif;
    margin: 0 auto;
	color:#5E4938;
	font-weight:bold;
}


	  body.listaimdb {
    background: #ECEDF3;
    border: 1px solid #ADADAD;
}
.highlight {
  background: #F8F81A;
  color: #FF0000;
}

.btn{
  background: #180700;
  border: 1px solid #5E4938;
  color: #5E4938;
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: 8pt;
  padding: 2px;
  vertical-align: middle;
  cursor: pointer;

}
/* A quote, perhaps from another post. */
.quote
{
    color: #000;
    background-color: #D7DAEC;
    border-style: inset;
    border-width: 1px solid;
    border-color: #000;
    margin: 1px;
    padding: 1px;
    font-size: x-small;
    line-height: 1.4em;
		overflow:auto;
}

/* A code block - maybe even PHP ;). */
.code
{
    color: #000;
    background-color: #ECECEC;
    font-family: "courier new", "times new roman", monospace;
    font-size: x-small;
    line-height: 1.3em;
    /* Put a nice border around it. */
    border-style: inset;
    border-width: 1px solid;
    border-color: #000;
    margin: 1px auto 1px auto;
    padding: 1px;
    width: 99%;
    /* Wrap its contents, and show scrollbars. */
    overflow: auto;
    /*Stop after about 24 lines, and just show a scrollbar.*/ 
    max-height: 10em;
}
.post{
  border:1px solid #6E5E51;
  background-color: #BFBFBF;
  padding:0px;
  margin:1px;
  color:#000000;
  line-height: 1.4em;
  text-align:left;
  overflow: auto;
  color: #fff;
}

img {
  border:0px;
}

textarea {
    display:block;
    overflow: auto;
    line-height: 1.4em;
}

select.drop_pager {
  background-color: #E0E1E8;
  font-size: 11px;

}

.pager {
  background-color: #E0E1E8;
 /* border: 1px solid #072A66;*/
  padding: 1px 3px 1px 3px;
}

.pagercurrent {
  background-color: #7FBDFA;
  border: 1px solid #072A66;
  padding: 1px 3px 1px 3px;
}

.pager a:link,
.pager a:visited,
.pagercurrent a:link,
.pagercurrent a:visited {
    text-decoration:none;
}

.pager a:hover,
.pagercurrent a:hover {
    text-decoration:none;
}
/* this is new for the mainmenu_block*/
.tcat {
  background: url(images/theme/back.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    margin-bottom: -4px;
    overflow: hidden;
    padding-left: 9px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
	color:#5E4938;
	font-weight:bold;
	font-size: 12pt;
}
/* this is new  for the login/logout */
.t_cat, .t_cat a:link, .t_cat_alink
{
	background-color:#7796b3;
	height:20px;
	color: #000;
	text-decoration: none;
}
.t_cat a:visited, .t_cat_avisited
{
	height:20px;
	color: #000;
	text-decoration: none;
}
.t_cat a:hover, .t_cat a:active, .t_cat_ahover
{
	color: #888;
}

/* this is bg for the usermenu links */
.t_cat2
{
	background-image: url(images/tcat2.png);
	height:30px;	
}

/* css for dropdown menu */
#menu {width:auto; height:0px; background:transparent; text-align:center; margin:0 auto;}
/* Donot change the values of this menu */
#menu ul {margin:0; padding:0; list-style:none; white-space:nowrap; text-align:left; background:#1F1308 url(images/sitenav.png); border:1px solid #5E4938;}
#menu ul {display:inline-block;} 

#menu li {margin:0; padding:0; list-style:none;}
#menu li {display:inline-block; display:inline;}
#menu ul ul {position:absolute; left:-9999px; width:150px;}

#menu ul.level1 {margin:3px auto;}
#menu ul.level1 li.level1-li {float:left; display:block; position:relative;}

#menu b {position:absolute;} /* -- for IE6 non-flyout dropdowns to stop flickering - who knows why --*/

#menu a {display:block; font:normal 11px verdana,arial,sans-serif; color:#5E4938; line-height:26px; text-decoration:none; padding:0 20px;}
#menu ul.level1 li.level1-li a.level1-a {float:left;}

#menu ul li:hover > ul {visibility:visible; left:0; top:24px;}
#menu ul ul li:hover > ul {visibility:visible; left:100%; top:auto; margin-top:-25px; margin-left:-4px;}
#menu li.left:hover > ul {visibility:visible; left:auto; right:0; top:25px;}
#menu li.left ul li:hover > ul {visibility:visible; left:auto; right:100%; top:auto; margin-top:-25px; margin-right:-4px;}

#menu a:hover ul {left:0; top:25px;}
#menu li.left a:hover ul {left:auto; right:-1px; top:25px;}

#menu li.left ul a {text-align:right;}

#menu a:hover a:hover ul, 
#menu a:hover a:hover a:hover ul {left:100%; visibility:visible;}
#menu li.left a:hover a:hover ul, 
#menu li.left a:hover a:hover a:hover ul {left:auto; right:0; visibility:visible;}

#menu a:hover ul ul, 
#menu a:hover a:hover ul ul {left:-9999px;}
#menu li.left a:hover ul ul, 
#menu li.left a:hover a:hover ul ul {left:-9999px;}

#menu li a.drop {background:transparent url(images/white-down.gif) no-repeat right center;}
#menu li a.fly {background:transparent url(images/white-right.gif) no-repeat right center;}
#menu li.left ul a.fly {background:transparent url(images/white-left.gif) no-repeat left center;}

#menu li a:hover,
#menu li a.fly:hover {color:#180C06; background-color:#5E4938; border-top:1px solid #180C06; border-bottom:1px solid #180C06;} 
#menu li:hover > a,
#menu ul li:hover > a.fly {color:#180C06; background-color:#5E4938; border-top:1px solid #180C06; border-bottom:1px solid #180C06;}

#menu table {position:absolute; height:0; width:0; left:0; border-collapse:collapse; margin-top:-6px;}
#menu table table {position:absolute; left:99%; height:0; width:0; border-collapse:collapse; margin-top:-30px; margin-left:-4px;}

#menu li.left table {position:absolute; height:0; width:0; left:auto; right:0; border-collapse:collapse; margin-top:-4px;}
#menu li.left table table {position:absolute; left:auto; right:100%; height:0; width:0; border-collapse:collapse; margin-top:-30px; margin-right:-4px;}
/* end menu */
/* start side blocks*/
#bodyarea #col .b-content a:link,
#bodyarea #col .b-content a:active,
#bodyarea #col .b-content a:visited {
	color: #563216;
}
#bodyarea #col .b-content a:hover {
	color: #e34313;
}

#bodyarea #col .block-head {
	width: 100%; 
}

#bodyarea #col .block-head-title {
	background: url(images/theme/back.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    margin-bottom: -4px;
    overflow: hidden;
    padding-left: 9px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -5px 10px rgba(0, 0, 0, 0.3) inset;
    color:#5E4938;
	font-weight:bold;
	font-size: 12pt;
	line-height:30px;
    padding-left: 3px;
    padding-right: 3px;
}

#bodyarea #col .block-content {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
}

#bodyarea #col .b-content {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	padding: 20px;
}
#bodyarea #col .block .header {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	padding: 20px;
	height: 27px;
	font-size: 10px;
	color : #5E4938;
	font-weight:bold;
}
#bodyarea #col .block .lista {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	padding: 5px;
    color : #5E4938;
}
/* end side blocks */
/* start main content blocks*/
#bodyarea #mcol .block-head {
	width: 100%;
}

#bodyarea #mcol .block-head-title {
	background: url(images/theme/back.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    margin-bottom: -4px;
    overflow: hidden;
    padding-left: 9px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
	color:#5E4938;
	font-weight:bold;
	font-size: 12pt;
	line-height:30px;
}

#bodyarea #mcol .block-content {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
}

#bodyarea #mcol .b-content {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	padding: 20px;
}

/* end main content */
/* main header blocks */
#header .block {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	padding: 20px;
}
/* innerbar for the rules, faq & ulguide */
.cat3
{
	background: url(images/theme/back.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    margin-bottom: -4px;
    overflow: hidden;
    padding-left: 9px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
	color:#5E4938;
	font-weight:bold;
	font-size: 12pt;
}
/* end */

#main {
    display:block; 
    background:
    width:100%;
    padding:2px;
    margin: 0 auto;
}

#Calendar {
    display:block;
    color:#000; 
    padding:2px;
    margin: auto;
}

#logo {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
    clear: both;
    display: block;
    font-size: 0.9em;
    list-style: none outside none;
    margin: 0 -1px;
    overflow: hidden;
    padding: 0;
    width: auto;
}
.tracker_logo {
    background: url("images/logo.png") no-repeat;
    height:90px; 
    width:242px;
}

#nocolumns { width:100%; align:center; }

#footer{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
    clear: both;
    display: block;
    font-size: 0.9em;
    list-style: none outside none;
    margin: 0 -1px;
    overflow: hidden;
    padding: 0;
    width: auto;
}

td.footer{
  background:transparent;
	height:69px;
  width:982px;
	position:absolute;
}

a:link,a:active,a:visited { color: #5E4938; text-decoration:none;}
a:hover { text-decoration:none; color: #FFFFFF; }

h1 {
    font-size: 10pt;
}

p {
    font-size: 8pt;
}

table {
    border:0px;
		
}
/*
table.tool { border-bottom: solid 1px #CFDBE5; }
table.usmen { background: #CFDBE5; }
table.lista {
    background: #A1BFD9;
    border-bottom:1px solid #EFF3F5;
}
*/
td.block {
	 background: url(images/theme/back.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    margin-bottom: -4px;
    overflow: hidden;
    padding-left: 9px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
    color:#5E4938;
	font-weight:bold;
	font-size: 12pt;
    padding-left: 3px;
    padding-right: 3px;
	line-height:40px;
}
td.block a:link, td.block a:active, td.block a:visited { color: #5E4938; text-decoration:none;}
td.block a:hover { text-decoration:none; color: #EE4000; }
td.blocklist {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	padding: 10px;
}
/*.user {background: #A1BFD9;}*/
td.lista {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	padding: 10px;
}

td {
   font-size: 8pt;
}

td.header {
    background: url(images/theme/back.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    margin-bottom: -4px;
    overflow: hidden;
    padding-left: 9px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -5px 10px rgba(0, 0, 0, 0.3) inset;
    color:#5E4938;
	font-weight:bold;
	font-size: 12pt;
    padding-left: 3px;
    padding-right: 3px;
}
.left_menu {
   background:url(images/catbg2.jpg);
	 height:20px;
	 color:#000;
}
.center_menu {
   background:url(images/tcat2.png);
	 height:20px;
	 color:#000;
}
.right_menu {
  background: url(images/theme/back.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    margin-bottom: -4px;
    overflow: hidden;
    padding-left: 9px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
	 color:#5E4938;
	font-weight:bold;
	font-size: 12pt;
}
td.title {
    font-size: 8pt;
}

td.navigation {
    background-color: #DDE5EB;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
    /*background-color:#E0E1E8;*/
    color: red;
}


td.yellow {
    /*background-color:#E0E1E8;*/
    color: #536372;
}


td.green {
    /*background-color:#E0E1E8;*/
    color: green;
}

td.progress {
    padding: 0px;
    background-image: url(images/backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: red;
}
td.red a:visited {
    color: red;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: green;
}

td.green a:visited {
    color: green;
}
li{
list-style-position:inside;
} 

.error { color:black; font-weight: bold; font-size: 14pt; background:url(images/chr.gif); background-repeat: repeat-x;}
.information { color:black; font-weight: bold; font-size: 14pt; background:url(images/chb.gif); background-repeat: repeat-x;}
.success { color:black; font-weight: bold; font-size: 14pt; background:url(images/chg.gif); background-repeat: repeat-x;}

/* ######### End Main Tracker Body ######### Start Ajax Poll System ######### */

td.deleted {
    background-color:#FF95AC;
    color:#000000;
}

td.added {
    background-color:#C1FF83;
    color:#000000;
}

td.modified {
    background-color:#DEDEDE;
    color:#000000;
}

#mainContainer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-image: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
	padding: 20px;
    
}

#mainContent {
    padding:0px;
        
}
  
.clear {
    clear:both;
}

.poller {  /* The poller box */
  
    width:100%;
    overflow:hidden;
}

.pollerTitle {  /* Poller title above radio buttons */
    margin-top:0px;
    margin-bottom:5px;
    font-style:italic;
    font-size:1em;
}

.pollerOption {  /* Label for each radio button */
    margin:0px;
}

.result_pollerOption {  /* Label for each option above graph - i.e. results */
    margin:0px;
    font-size:0.8em;
}

.result_pollerTitle {  /* Title of poller - when ajax shows the results */
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
    font-size:1em;
}

.result_pollGraph img {  /* Don't change this one, it is used to get the left and right image(the corner) positioned correctly */
    float:left;
}

.result_pollGraph div {  /* The <div> tag where the percentage result is shown */
    float:left;
    height:12px;
    background-repeat:repeat-x;
    color:#FFF;
    font-size:0.9em;
    line-height:16px;
}

.result_pollGraph {  /* Graph div - parent of both the corner images and the div displaying percentage votes */  
    height:12px;
}
  
.poller_waitMessage {  /* Message when Ajax is working getting restults fromt the server */
    display:none;  
}  

.result_totalVotes{
    clear:left;
    font-size:0.8em;
    margin-top:10px;
    font-style:italic;
    background:transparent;
}

th {
    text-align:left;
}
.formButton {
    width:75px;
}
/* ######### End Ajax Poll System ######### Start Ajax Chat ######### */
#chat {
overflow: auto;
width: 100%;
height: 220px;
padding: 0px;
}

#chatoutput ul {
    list-style: none;
    margin:0px;
    padding:0px;
    padding:5px 4px 6px 5px;
}

div.chatoutput {
    background:#dde6ef;
    padding:5px 0px 3px 10px;
    margin:0px;
    color:#006699;
    line-height: 150%;
    margin-bottom:2px;
}

div.loader {
background-image: url('images/ajaxchat/loading.gif'); 
background-repeat: no-repeat; 
background-position:center center; 
width:32px; 
height:32px;
}

#chatoutput ul li {
}

#chatoutput ul li span.name {
    display: block;
    background:url(images/ajaxchat/bubble.png) no-repeat left;
    padding-left:19px;
      margin-bottom:1px;
    font-weight: normal;
    color: #000;
}

#chatoutput ul li:hover span.name {
    background:url(images/ajaxchat/bubblehover.png) no-repeat left;
}

form {
    padding:0px;
    margin:6px;
}

#chatoutput {
    text-align: left;
    margin-right: 0px;
}

/* swaps edit and delete images on mouse over */
img.EditSwap {
background:url(images/ajaxchat/shout_edit_gray.gif) no-repeat bottom;
}
img.EditSwap:hover {
background:url(images/ajaxchat/shout_edit.png) no-repeat bottom; 
}
img.DeleteSwap {
background:url(images/ajaxchat/shout_delete_gray.gif) no-repeat bottom;
}
img.DeleteSwap:hover {
background:url(images/ajaxchat/shout_delete.png) no-repeat bottom; 
}
/* end of swaping */

img.form {
background:url(images/ajaxchat/frame.png) no-repeat;
}
img.form:hover {
background:url(images/ajaxchat/frame_hover.png) no-repeat;
}
/* ######### End Ajax Chat ######### */

/* from this point to end of file is the XBTIT FM DT extra CSS */
.dock {
	position: relative; 
	height: 50px; 
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 50px;

	padding-left: 20px;
}
a.dock-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: none; 
	padding-left: 20px;
}

#diemthuy{
	width:720px;
	height:540px;
        float: center;  
        background-image:url(images/log.jpg);
}

input#want_username, input#want_password{
padding-left: 20px;
background: #ffffff;
background-repeat: no-repeat;
background-position: 2px center;
}
input#want_username{
background-image: url(images/login_.gif);
}
input#want_password {
background-image: url(images/password_.gif);
}

/*DEFINE THE SHOUTBOX CSS */
.shoutbox_body { font-family: verdana; color: black; float: middle; background-color:#A1BFD9; }
.shoutbox_contain { border: 0; height: 350; width: 100%; overflow: auto; align: middle; }
.shoutbox_history { border: 0;height: 100%;width: 100%;align: middle; }
.shoutbox_messageboxback { background-color:#A1BFD9; }
.shoutbox_noalt { background-color: White; }
.shoutbox_alt { background-color: AliceBlue; }
.shoutbox_msgbox { width: 100%; font-size: 12px; background-color: AliceBlue;border: 1px solid black; }
.shoutbox_shoutbtn { font-size: 12px; background-color: AliceBlue;border: 1px solid black; font-weight: bold; }
.shoutbox_error { color: red;font-size: 13px; }

.ratingblock {
	display:block;
	/* border-bottom:1px solid #999;
	padding-bottom:8px;
	margin-bottom:8px; */

	margin-top:5px;

	}

.loading {
	height: 30px;
	background: url(images/working.gif) 50% 50% no-repeat;
	}
	
.unit-rating { /* the UL */
	list-style:none;
	margin: 0px;
	padding:0px;
	height: 30px;
	position: relative;
	background: url(images/starrating.gif) top left repeat-x;		
	}

.unit-rating li{
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	
.unit-rating li a {
	outline: none;
	display:block;
	width:30px;
	height: 30px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
.unit-rating li a:hover{
	background: url(images/starrating.gif) left center;
	z-index: 2;
	left: 0px;
	}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:30px;}
.unit-rating a.r2-unit{left:30px;}
.unit-rating a.r2-unit:hover{width: 60px;}
.unit-rating a.r3-unit{left: 60px;}
.unit-rating a.r3-unit:hover{width: 90px;}
.unit-rating a.r4-unit{left: 90px;}	
.unit-rating a.r4-unit:hover{width: 120px;}
.unit-rating a.r5-unit{left: 120px;}
.unit-rating a.r5-unit:hover{width: 150px;}
.unit-rating a.r6-unit{left: 150px;}
.unit-rating a.r6-unit:hover{width: 180px;}
.unit-rating a.r7-unit{left: 180px;}
.unit-rating a.r7-unit:hover{width: 210px;}
.unit-rating a.r8-unit{left: 210px;}
.unit-rating a.r8-unit:hover{width: 240px;}
.unit-rating a.r9-unit{left: 240px;}
.unit-rating a.r9-unit:hover{width: 270px;}
.unit-rating a.r10-unit{left: 270px;}
.unit-rating a.r10-unit:hover{width: 300px;}

.unit-rating li.current-rating {
	background: url(images/starrating.gif) left bottom;
	position: absolute;
	height: 30px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	}

.voted {color:#999;}
.thanks {color:#36AA3D;}
.static {color:#5D3126;}