a:link, a:active, a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF9900;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	text-decoration: none;
}
#nav ul {
	list-style-position: outside;
	list-style-image: url(images/bullet.png);
}
#rcol #nav ul li a {
	color: #FF9900;
	font-size: 11px;
	font-weight: bold;
}
#rcol #nav ul li a:hover {
	color: #FF6600;
}
#rcol .b-content a:link,
#rcol .b-content a:active,
#rcol .b-content a:visited {
	color: #FF9900;
}
#rcol .b-content a:hover {
	color: #FF6600;
}

#lcol .b-content a:link,
#lcol .b-content a:active,
#lcol .b-content a:visited {
	color: #FF9900;
}
#forum_ifrm {
	margin: 0px;
	padding: 0px;
}
#lcol .b-content a:hover {
	color: #FF6600;
}

#mcol .b-content a:link,
#mcol .b-content a:active,
#mcol .b-content a:visited {
	color: #FF9900;
}
#mcol .b-content a:hover {
	color: #FF6600;
}
.green {
	color: lime;
}
.red {
	color: red;
}
.yellow {
	color: blue;
}
body {
	scrollbar-face-color: #2c2c2c;
	scrollbar-highlight-color: #080808;
	scrollbar-3dlight-color: #555;
	scrollbar-darkshadow-color: #080808;
	scrollbar-shadow-color: #555;
	scrollbar-arrow-color: #877658;
	scrollbar-base-color:  #000;
	background-color: #000;
	background-image: url(images/bg.jpg);
	background-repeat: repeat;
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ababab;
	text-decoration: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
	line-height: 14px;
	background-attachment: fixed;
}
input, select {
	font-size: 9px;
	color: #666666;
	background-color: #111111;
	border: 1px solid #444444;
	font-family: Arial, Helvetica, sans-serif;
}
textarea {
	font-size: 9px;
	color: #777;
	background-color: #111111;
	border: 1px solid #444444;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
}
#main {
	width: 100%;
	height:172px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	
	background-color: #000;
	background-image: url(images/bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	
}
#slideIt {
	margin: 0px;
	padding:  0px;
}
#header {
	background-image: url(images/);
	background-repeat: no-repeat;
	background-position: center;
	width: 1200px;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.block {
	display: block;
	padding: 0px;
	width: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.error { color:black; font-weight: bold; font-size: 14pt; background:url(images/chr.gif); background-repeat: repeat-x;}
.information { color:black; font-weight: bold; font-size: 14pt; background:url(images/chb.gif); background-repeat: repeat-x;}
.success { color:black; font-weight: bold; font-size: 14pt; background:url(images/chg.gif); background-repeat: repeat-x;}
td.deleted {
    background-color:#FF95AC;
    color:#000000;
}

td.added {
    background-color:#C1FF83;
    color:#000000;
}

td.modified {
    background-color:#DEDEDE;
    color:#000000;
}
  
.clear {
    clear:both;
}

.post {
	border:1px solid #272B34;
	padding:0px;
	margin:1px;
	color:#CCCCCC;
	line-height: 1.4em;
	text-align:left;
	white-space:wrap;
	overflow: auto;
	background-color: #303030;
}

.post table {
	background-color: #222222;
	margin: 0px;
}

.pager {
	border: 1px solid #111;
	background-image: url(images/btm.png);
	background-repeat: repeat-x;
	background-position: center center;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	font-size: 10px;
	font-weight: bold;
}

.pagercurrent {
	border: 1px solid #111;
	background-image: url(images/btm.png);
	background-repeat: repeat-x;
	background-position: center center;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	font-size: 10px;
	font-weight: bold;
}

.pager a:link,
.pager a:visited,
.pagercurrent a:link,
.pagercurrent a:visited {
	text-decoration:none;
	color: #000000;
}

.pager a:hover,
.pagercurrent a:hover {
	text-decoration:none;
	color: #ffffff;
}
#bodyarea #lcol .block-head {
	width: 100%;
}
#bodyarea #lcol .block-head-l {
	background-image: url(images/l-btl.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 21px;
	width: 95px;
}
#bodyarea #lcol .block-head-r {
	background-image: url(images/l-btr.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 21px;
	width: 95px;
}
#bodyarea #lcol .block-head-title {
	background-image: url(images/.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 21px;
	width: auto;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	
	
	display: block;
}
#bodyarea #lcol .block-head-l2 {
	background-image: url(images/bl2.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 20px;
	width: 20px;
}
#bodyarea #lcol .block-head-r2 {
	background-image: url(images/br2.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 20px;
	width: 20px;
}
#bodyarea #lcol .block-head-title2 {
	background-image: url(images/bm2.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 20px;
	width: auto;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: bold;
	color: #ababab;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	
	white-space: nowrap;
	display: block;
}
#bodyarea #rcol .block-head {
	width: 100%;
}
#bodyarea #rcol .block-head-l {
	background-image: url(images/l-btl.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 21px;
	width: 95px;
}
#bodyarea #rcol .block-head-r {
	background-image: url(images/l-btr.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 21px;
	width: 95px;
}
#bodyarea #rcol .block-head-title {
	background-image: url(images/.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 21px;
	width: auto;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	
	
	display: block;
}
#bodyarea #rcol .block-head-l2 {
	background-image: url(images/bl2.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 20px;
	width: 20px;
}
#bodyarea #rcol .block-head-r2 {
	background-image: url(images/br2.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 20px;
	width: 20px;
}
#bodyarea #rcol .block-head-title2 {
	background-image: url(images/bm2.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 20px;
	width: auto;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: bold;
	color: #ababab;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	
	white-space: nowrap;
	display: block;
}




#bodyarea .block-head {
	width: 100%;
}
#bodyarea .block-head-l {
	background-image: url(images/h-btl.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 0px;
	width: 0px;
}
#bodyarea .block-head-r {
	background-image: url(images/h-btm.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 0px;
	width: 0px;
}
#bodyarea .block-head-title {
	background-image: url(images/h-btr.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 0px;
	width: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	display: block;
}

#bodyarea .block-head-l2 {
	background-image: url(images/title_left_border.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 6px;
}
#bodyarea .block-head-r2{
	background-image: url(images/title_right_border.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 19px;
	width: 6px;
}
#bodyarea .block-head-title2 {
	background-image: url(images/title_bg.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 19px;
	width: auto;
	margin-top: 0px;
	
	margin-bottom: 0px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 19px;
	font-weight: bold;
	color: #ababab;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	
	white-space: nowrap;
	display: block;
}


#bodyarea .block-content {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
}
#bodyarea .block-content-l {
	background-image: url(images/border_left.png);
	background-repeat: repeat-y;
	background-position: left;
	margin: 0px;
	width: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
}
#bodyarea .block-content-r {
	background-image: url(images/border_right.png);
	background-repeat: repeat-y;
	background-position: right;
	margin: 0px;
	padding: 0px;
	width: auto;
	display: block;
}
#bodyarea .b-content {
	width: auto;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 4px;
	padding-top: 8px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
	background-color: #222222;
	background-image: url(images/bmm.png);
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: left;
	display: block;
	overflow: hidden;
}
#bodyarea .b-content blocklist {
	color: #CCCCCC;
}
#bodyarea .block-foot {
	margin: 0px;
	padding: 0px;
	width: auto;
	height: 8px;
}
#bodyarea .block-foot-l {
	background-image: url(images/corner_left_down.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 6px;
	width: 6px;
	font-size: 1px;
}
#bodyarea .block-foot-r {
	background-image: url(images/corner_right_down.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 6px;
	width: 6px;
	font-size: 1px;
}
#bodyarea .block-foot-m {
	padding: 0px;
	width: auto;
	margin-top: 0px;
	
	margin-bottom: 0px;
	
	height: 6px;
	background-image: url(images/border_down.png);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 1px;
}


#header .block {
	display: block;
	width: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
}
#header .block-head {
	width: auto;
	height: 8px;
}
#header .block-head-l {
	background-image: url(images/h-btl.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
}
#header .block-head-r {
	background-image: url(images/h-btm.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 0px;
	width: 0px;
}
#header .block-head-title {
	padding: 0px;
	height: 0px;
	width: auto;
	margin-top: 0px;
	
	margin-bottom: 0px;
	
	background-image: url(images/h-btr.png);
	background-repeat: repeat-x;
	background-position: top;
}
#header .block-content {
	margin: 0px;
	padding: 0px;
	width: auto;
	display: block;
}
#header .block-content-l {
	background-image: url(images/h-bml.png);
	background-repeat: repeat-y;
	background-position: left;
	margin: 0px;
	width: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
}
#header .block-content-r {
	background-image: url(images/h-bmr.png);
	background-repeat: repeat-y;
	background-position: right;
	margin: 0px;
	padding: 0px;
	width: auto;
	display: block;
}
#header .b-content {
	width: auto;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 4px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	background-color: #222222;
	background-image: url(images/h-bmm.png);
	background-repeat: repeat-x;
	background-position: bottom;
	display: block;
}
#header .block-foot {
	margin: 0px;
	padding: 0px;
	width: auto;
	height: 8px;
}
#header .block-foot-l {
	background-image: url(images/h-bbl.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 8px;
	width: 8px;
	font-size: 1px;
}
#header .block-foot-r {
	background-image: url(images/h-bbr.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 8px;
	width: 8px;
	font-size: 1px;
}
#header .block-foot-m {
	background-image: url(images/h-bbm.png);
	padding: 0px;
	width: auto;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 8px;
	height: 8px;
	background-image: url(images/bbm.png);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 1px;
}

#header .block .header {
	background-image: url(images/hbg.gif);
	background-repeat: repeat-x;
	background-position: top;
	line-height: 24px;
	border-collapse: collapse;
	border:1px solid #111;
	padding: 0px;
	margin: 0px;
	white-space: nowrap;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.header {
	border-collapse: collapse;
	border:1px solid #111;
	background-image: url(images/hbg.gif);
	background-repeat: repeat-x;
	background-position: top;
	line-height: 13px;
	height: 27px;
	font-size: 11px;
}
a img{
	border: 0;
}
TD.red {
	background-color: #333;
	border: 1px solid #111;
}
TD.green {
	background-color: #333;
	border: 1px solid #111;
}
TD.yellow {
	background-color: #333;
	border: 1px solid #111;
}
#mcol TD.red a:link {
	color: #FF0000;
}
#mcol TD.green a a:link {
	color: #7FFF00;
}
#mcol TD.yellow a a:link {
	color: #FFFF00;
}
.tool {
	background-color: #111;
}
.tool .lista {
	background-color: #333;
	border-top-style: none;
}
.lista {
	border: 1px solid #111;
}
#footer {
	background-image: url(images/menu_down.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin: 0px;
	padding: 20px;
	width: auto;
	background-color: #000;
	font-size: 12px;
}
.poller {
	width:100%;
	color:#999;
	font-weight:bold;
	overflow:hidden;
	text-align: left;
}
#lcol .block-content td.lista, #rcol .block-content td.lista  {
	border: none;
}
.pollerTitle {
	margin-top:0px;
	margin-bottom:5px;
	font-weight:bold;
	font-size:1em;
	text-align: center;
}

.pollerOption {
    margin:0px;
}

.result_pollerOption {
    margin:0px;
    font-size:0.8em;
}

.result_pollerTitle {
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
    font-size:1em;
}

.result_pollGraph img {
    float:left;
}

.result_pollGraph div {
    float:left;
    height:12px;
    background-repeat:repeat-x;
    color:#999;
    font-size:0.9em;
    line-height:16px;
}

.result_pollGraph {
    height:12px;
}
  
.poller_waitMessage {
	display:none;
}  
.result_totalVotes{
	clear:left;
	font-size:12px;
	font-style:italic;
	background:transparent;
	font-family: "Times New Roman", Times, serif;
	color: #CC0000;
	text-align: center;
	margin: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#shoutheader #chatForm #chatbarText {
	width: 65%;
	padding: 0px;
	font-size: 11px;
	color: #CCCCCC;
	line-height: 16px;
	margin: 2px;
	height: 16px;
}
#shoutheader #chatForm #submit {
	width: 65px;
	margin: 1px;
	padding: 0px;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}
#chat {
	overflow: auto;
	width: 100%;
	height: 220px;
	padding: 0px;
}

#chatoutput ul {
    list-style: none;
    margin:0px;
    padding:0px;
    padding:5px 4px 6px 5px;
}
ul#outputList li .name {
	border: 0;
}
#chatoutput ul .lista {
	border: 0;
}
div.chatoutput {
	color: #ABABAB;
	background: #191919;
	padding: 5px 0px 3px 10px;
	margin: 0px;
	line-height: 150%;
	margin-bottom: 2px;
	border: 1px solid #111;
}

div.loader {
	background-image: url('images/ajaxchat/loading.gif'); 
	background-repeat: no-repeat; 
	background-position:center center; 
	width:32px; 
	height:32px;
}

#chatoutput ul li {
}
#chatoutput ul li span.name a{
	font-size: 12px;
	font-weight: bold;
}
#chatoutput ul li span.name {
    display: block;
    background:url(images/ajaxchat/bubble.png) no-repeat left;
    padding-left:19px;
    margin-bottom:1px;
    font-weight: normal;
    color:#ffffff;
}

#chatoutput ul li:hover span.name {
    background:url(images/ajaxchat/bubblehover.png) no-repeat left;
}

form {
    padding:1px;
    margin:0px;
}

#chatoutput {
    text-align: left;
    margin-right: 0px;
}

/* css for dropdown menu */
#menu {width:auto; height:30px; background:transparent; text-align:center; margin:0 auto;}
/* Donot change the values of this menu */
#menu ul {margin:0; padding:0; list-style:none; white-space:nowrap; text-align:left; background:#222222 url(images/); border:1px solid #000;}
#menu ul {display:inline-block;} 

#menu li {margin:0; padding:0; list-style:none;}
#menu li {display:inline-block; display:inline;}
#menu ul ul {position:absolute; left:-9999px; width:auto;}

#menu ul.level1 {margin:3px auto;}
#menu ul.level1 li.level1-li {float:left; display:block; position:relative;}

#menu b {position:absolute;} /* -- for IE6 non-flyout dropdowns to stop flickering - who knows why --*/

#menu a {display:block; font:normal 11px verdana,arial,sans-serif; color:#FF9900; line-height:26px; text-decoration:none; padding:0 20px;}
#menu ul.level1 li.level1-li a.level1-a {float:left;}

#menu ul li:hover > ul {visibility:visible; left:0; top:24px;}
#menu ul ul li:hover > ul {visibility:visible; left:100%; top:auto; margin-top:-25px; margin-left:-4px;}
#menu li.left:hover > ul {visibility:visible; left:auto; right:0; top:25px;}
#menu li.left ul li:hover > ul {visibility:visible; left:auto; right:100%; top:auto; margin-top:-25px; margin-right:-4px;}

#menu a:hover ul {left:0; top:25px;}
#menu li.left a:hover ul {left:auto; right:-1px; top:25px;}

#menu li.left ul a {text-align:right;}

#menu a:hover a:hover ul, 
#menu a:hover a:hover a:hover ul {left:100%; visibility:visible;}
#menu li.left a:hover a:hover ul, 
#menu li.left a:hover a:hover a:hover ul {left:auto; right:0; visibility:visible;}

#menu a:hover ul ul, 
#menu a:hover a:hover ul ul {left:-9999px;}
#menu li.left a:hover ul ul, 
#menu li.left a:hover a:hover ul ul {left:-9999px;}

#menu li a.drop {background:transparent url(images/white-down.gif) no-repeat right center;}
#menu li a.fly {background:transparent url(images/white-right.gif) no-repeat right center;}
#menu li.left ul a.fly {background:transparent url(images/white-left.gif) no-repeat left center;}

#menu li a:hover,
#menu li a.fly:hover {color:#FF6600; background-color:#222222; border-top:1px solid #000; border-bottom:1px solid #000;} 
#menu li:hover > a,
#menu ul li:hover > a.fly {color:#FF6600; background-color:#222222; border-top:1px solid #000; border-bottom:1px solid #000;}

#menu table {position:absolute; height:0; width:0; left:0; border-collapse:collapse; margin-top:-6px;}
#menu table table {position:absolute; left:99%; height:0; width:0; border-collapse:collapse; margin-top:-30px; margin-left:-4px;}

#menu li.left table {position:absolute; height:0; width:0; left:auto; right:0; border-collapse:collapse; margin-top:-4px;}
#menu li.left table table {position:absolute; left:auto; right:100%; height:0; width:0; border-collapse:collapse; margin-top:-30px; margin-right:-4px;}
/* end menu */